DB_HOST=127.0.0.1
DB_DATABASE=dungeon_xplorer
DB_USERNAME=root
DB_PASSWORD=
DB_PORT=3306

# Google
GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret

# Discord
DISCORD_CLIENT_ID=client_id
DISCORD_CLIENT_SECRET=client_secret

# GitHub
GITHUB_CLIENT_ID=client_id
GITHUB_CLIENT_SECRET=client_secret